In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

▷ipynb 파일 보기

!또는 %(Magic command)를 이용해서 notebook 파일보기

▷Magic command
    1. Line -> %magic command
            ex. %run foo.py 는 foo.py 파일을 실행
    2. Cell -> %%magin command
            ex. %%latex는 모든 cell에 있는 latex를 번역
▷%lsmagic 주요 명령어 (주요명령어를 정리해 출력해보았습니다. )

In [4]:
%sql sqlite:///test.db

u'Connected: None@test.db'

In [5]:
%sql select *from magic_command;

DatabaseError: (sqlite3.DatabaseError) file is encrypted or is not a database [SQL: u'select *from magic_command;']

============무엇이 문제인지 모르겠습니다.============

In [8]:
%%sql
create table exex(
    command char(20),
    explain char(70),
    primary key (command)
);
insert into exex values('%pwd, %cd', '현재 위치 및 다른 디렉토리로 이동');
insert into exex values('%history', '명령어 히스토리 출력');
insert into exex values('%reset', '모든 정의된 변수 삭제');
insert into exex values('%%capture', '실행되는 명령에 대한 정보의 결과를 저장');
insert into exex values('%%whos', '현재 정의된 변수 표시');
insert into exex values('%pdoc, %psource', 'Help 기능 실행');
insert into exex values('%timeit','평균 실행 시간을 출력');
insert into exex values('%bookmark','디렉토리에 대한 별칭을 저장하고 쉽게 이동할수 있게 해줌');
insert into exex values('%%writefile', '현재 디렉토리에 있는 파일 생성');
insert into exex values('%load', '디렉토리에 있는 파일을 셀에 로딩');
insert into exex values('%run','py 프록램 파일을 실행');
insert into exex values('%matplotlib inline', 'matplotlib을 내부 셀에서 실행하기');
insert into exex values('%ls','현재 디렉토리에 파일들을 보기');
insert into exex values('%magic','모든 매직 함수에 대한 상세 도움말 출력');
insert into exex values('%pdb','예외가 발생하면 자동적으로 디버거 진입');
insert into exex values('%debug','작성된 코드에 대한 debug처리');

DatabaseError: (sqlite3.DatabaseError) file is encrypted or is not a database [SQL: u'create table exex(\n    command char(20),\n    explain char(70),\n    primary key (command)\n);']

In [9]:
%sql sqlite:///sample1.db

u'Connected: None@sample1.db'

In [10]:
%sql select *from dept;

Done.

[(1, u'\uc601\uc5c5', 8),
 (2, u'\uae30\ud68d', 10),
 (3, u'\uac1c\ubc1c', 9),
 (4, u'\ucd1d\ubd80', 7)]

In [11]:
%sql select *from emp;

Done.

[(4377, u'\uc774\uc131\ub798', u'\uc0ac\uc7a5', None, 5000000, 2),
 (3426, u'\ubc15\uc601\uad8c', u'\uacfc\uc7a5', 4377, 3000000, 1),
 (3011, u'\uc774\uc218\ubbfc', u'\ubd80\uc7a5', 4377, 4000000, 3),
 (3427, u'\ucd5c\uc885\ucca0', u'\uc0ac\uc6d0', 3011, 1500000, 3),
 (1003, u'\uc870\ubbfc\ud76c', u'\uacfc\uc7a5', 4377, 3000000, 2),
 (2106, u'\uae40\ucc3d\uc12d', u'\ub300\ub9ac', 1003, 2500000, 2),
 (1365, u'\uae40\uc0c1\uc6d0', u'\uc0ac\uc6d0', 3426, 1500000, 1)]

In [12]:
%%sql
select *from dept, emp
where dept.deptno=emp.dno;

Done.

[(2, u'\uae30\ud68d', 10, 4377, u'\uc774\uc131\ub798', u'\uc0ac\uc7a5', None, 5000000, 2),
 (1, u'\uc601\uc5c5', 8, 3426, u'\ubc15\uc601\uad8c', u'\uacfc\uc7a5', 4377, 3000000, 1),
 (3, u'\uac1c\ubc1c', 9, 3011, u'\uc774\uc218\ubbfc', u'\ubd80\uc7a5', 4377, 4000000, 3),
 (3, u'\uac1c\ubc1c', 9, 3427, u'\ucd5c\uc885\ucca0', u'\uc0ac\uc6d0', 3011, 1500000, 3),
 (2, u'\uae30\ud68d', 10, 1003, u'\uc870\ubbfc\ud76c', u'\uacfc\uc7a5', 4377, 3000000, 2),
 (2, u'\uae30\ud68d', 10, 2106, u'\uae40\ucc3d\uc12d', u'\ub300\ub9ac', 1003, 2500000, 2),
 (1, u'\uc601\uc5c5', 8, 1365, u'\uae40\uc0c1\uc6d0', u'\uc0ac\uc6d0', 3426, 1500000, 1)]

In [13]:
%sql sqlite:///sample2.db

u'Connected: None@sample2.db'

In [16]:
%%sql
select *from student;

Done.

[(100, u'JONES', u'HISTORY', u'GR', 21),
 (150, u'PARKS', u'ACCOUNTING', u'SO', 19),
 (200, u'BAKER', u'MATH', u'GR', 50),
 (250, u'GLASS', u'HISTORY', u'SN', 50),
 (300, u'BAKER', u'ACCOUNTING', u'SN', 41),
 (350, u'RUSSEL', u'MATH', u'JR', 20),
 (400, u'RYE', u'ACCOUNTING', u'FR', 18),
 (450, u'JONES', u'HISTORY', u'SN', 24)]

In [17]:
%sql select *from class;

Done.

[(u'BA200', u'M-F9', u'SC110'),
 (u'BD445', u'MWF3', u'SC213'),
 (u'BF410', u'MWF8', u'SC213'),
 (u'CS150', u'MWF3', u'EA304'),
 (u'CS250', u'MWF12', u'EB210')]

In [18]:
%%sql 
select *from enrollment;

Done.

[(100, u'BD445', 1),
 (150, u'BA200', 1),
 (200, u'BD445', 2),
 (200, u'CS250', 1),
 (300, u'CS150', 1),
 (400, u'BA200', 2),
 (400, u'BF410', 1),
 (400, u'CS250', 2),
 (450, u'BA200', 3)]

In [19]:
%sql sqlite:///sample3.db

u'Connected: None@sample3.db'

In [20]:
%%sql
select * from s;

Done.

[(u's01', u'Smith', u'London'),
 (u's02', u'jones', u'Paris'),
 (u's03', u'blakes', u'Paris'),
 (u's04', u'clark', u'London'),
 (u's05', u'adams', u'Athenes')]

In [21]:
%%sql
select * from p;

Done.

[(u'p01', u'Nut', u'red', 12, u'London'),
 (u'p02', u'Bolt', u'green', 17, u'Paris'),
 (u'p03', u'Screw', u'blue', 17, u'Rome'),
 (u'p04', u'Screw', u'red', 14, u'London'),
 (u'p05', u'cam', u'blue', 12, u'Paris'),
 (u'p06', u'cog', u'red', 19, u'London')]

In [22]:
%%sql
select * from sp;

Done.

[(u's01', u'p01', 300),
 (u's01', u'p02', 200),
 (u's01', u'p03', 400),
 (u's01', u'p04', 500),
 (u's01', u'p05', 100),
 (u's01', u'p06', 200),
 (u's02', u'p01', 300),
 (u's02', u'p02', 400),
 (u's03', u'p02', 200),
 (u's04', u'p04', 300),
 (u's05', u'p05', 400)]